/* 
        Sommaire 

    1:= Les fonts
    2:= Constantes
    3:= Global css
    4:= Global classes
    5:= Header
    6:= Home
    7:= .section1
    8:= Accueil
    9:= Footer
    10:= Reservation
    11:= Menu
    12:= Vins
    13:= Version mobile

*/

/* notation : .main_classe .section_classe .element_classe */


/* ----------- 1:= Fonts ----------- */
@font-face {
    font-family: 'grotesque_mt';
    src: url('./assets/fonts/grotesque/grotesquemt-webfont.eot');
    src: url('./assets/fonts/grotesque/grotesquemt-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/grotesque/grotesquemt-webfont.woff2') format('woff2'),
         url('./assets/fonts/grotesque/grotesquemt-webfont.woff') format('woff'),
         url('./assets/fonts/grotesque/grotesquemt-webfont.svg#grotesque_mtregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grand hotel';
    src: url('./assets/fonts/grandHotel/grandhotel-regular-webfont.eot'),
         url('./assets/fonts/grandHotel/grandhotel-regular-webfont.eot#efix') format('embedded-opentype'),
         url('./assets/fonts/grandHotel/grandhotel-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/grandHotel/grandhotel-regular-webfont.woff') format('woff'),
         url('./assets/fonts/grandHotel/grandhotel-regular-webfont.svg#grand_hotelregular')format('svg');
    font-weight: normal;
    font-style: normal;
}












/* ----------- 2:= Constantes ----------- */
:root{
    --noir : #212121;
    --vert : #68756b;
    --bleu : #526774;
    --gris : #bfbdb1;
    --beige: #fae8da;
}


/* ----------- 3:= Global css ----------- */
*{
    margin: 0;
    padding: 0;
    font-family: 'grotesque_mt', sans-serif;
}

main{
    color: white;
}

ul{
    list-style-type: none;
}

h1, h2, h3, h4, .titre{
    font-family: 'grand hotel', sans-serif;
    font-weight: lighter;
    font-style: italic;
}

hr{
    width: 80%;
    margin: 5rem auto;
}

.accueil .description .gauche, .accueil .horaires article, 
.accueil .paiement .droite, .accueil .aboutUs img,
footer .gauche, .menu .concept .gauche{
    padding-left: 15rem;
}

.accueil .description .droite, .accueil .horaires img, 
.accueil .paiement .gauche, .accueil .aboutUs article,
footer .droite, .menu .concept .droite{
    padding-right: 15rem;
}






/* ----------- 4:= Global classes ----------- */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column{
    display: flex;
    flex-direction: column;
}

.w-100{
    width: 100%;
}

.h-100{
    min-height: 100vh;
}

.w-max-c{
    width: max-content;
}

.m-auto{
    margin: auto;
}

.link, a{
    text-decoration: none;
}

.back_noir{
    background-color: var(--noir);
}

.back_vert{
    background-color: var(--vert);
}

.back_bleu{
    background-color: var(--bleu);
}

.back_gris{
    background-color: var(--gris);
}

.justify-content-space-be{
    justify-content: space-between;
}

.underline{
    text-decoration: underline;
}











/* ----------- 5:= Header ----------- */
.header{
    position: fixed;
    border-bottom: .5px solid white;
    height: max-content;
    padding: 1.5rem 0;

    z-index: 100;
}

.header .link, .slide .link{
    color: white;
}

.header h3 .link{
    font-size: 3rem;
    margin-left: 2rem;
}

.header ul{
    align-items: center;
    font-size: 1.8rem;
    margin-right: 3%;
}

.header li .link{
    margin-left: 2rem;
}









/* ----------- 6:= Home ----------- */
.slide{
    max-height: 100vh;
}

.slide img{
    width: 80%;
    margin-top: -2rem;
}

.slide .imgTest{
    width: 40% !important;
}

.slide h2{
    position: absolute;
    color: white;
    top: 50%;
    left: 20%;
    font-size: 9rem;
}











/* ----------- 7:= .section1 ----------- */
main .section1 img{
    width: 80rem;
    margin-left: 20rem;
    margin-top: -1rem;
}

main .section1 .imgTest{
    width: 50rem;
    margin-top: -3rem;
}

main .section1 article{
    position: absolute;
    top: 50%;
    left: 15%;
}

main .section1 span{
    font-size: 1.5rem;
}

main .section1 h1{
    font-size: 10rem;
}








/* ----------- 8:= Accueil ----------- */
.accueil h2, .menu h2, .reservation h2, .boisson h2{
    font-size: 4rem;
    margin: 5rem auto 4rem;
}

/* section2 : description */
.accueil .description article, .menu .concept article{
    width: 50%;
    padding: 0 5rem;
    font-size: 1.5rem;
}

.accueil .description article p, .menu .concept article p{
    margin-bottom: 2rem;
    text-align: justify;
}


/* section3 : horaires */
.accueil .horaires h2{
    margin-top: 0;
    margin-bottom: 7rem;
}

.accueil .horaires article, .accueil .horaires img,
.accueil .aboutUs article{
    width: 45%;
}


.accueil .horaires img{
    height: 40rem;
}

.accueil .horaires .joursOuv, .accueil .horaires p{
    padding-right: 6rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.accueil .horaires span:first-child{
    font-weight: bold;
}

.accueil div.icon{
    margin-top: 6rem;
    padding-right: 6rem;
    font-size: 1.4rem;
}
.accueil div.icon .icon{
    margin-right: .5rem;
}

/* section4 et section6 : paiement */
.accueil .paiement .icon{
    font-size: 3rem;
    margin: auto;
    margin-bottom: 1rem;
}

/* section5 : aboutUs */
.accueil .aboutUs img{
    width: 36%;
}

.accueil .aboutUs h2{
    margin: 1rem 0;
}

.accueil .aboutUs h2, .accueil .aboutUs p, .accueil .aboutUs span{
    margin-left: 5rem;
}

.accueil .aboutUs span{
    font-size: 2rem;
}

.accueil .aboutUs p{
    margin-top: 3rem;
    text-align: justify;
    font-size: 1.5rem;
}

/* section6 : service et paiement */
.accueil .service .icon{
    font-size: 4rem;
    margin: auto;
    margin-bottom: 1rem;
}

.accueil .service .icon + span{
    font-size: 1.6rem;
    margin: auto;
    margin-bottom: 1rem;
}

/* section7 : galerie */
.accueil .galerie{
    padding: 0 15rem;
    padding-bottom: 10rem;
}

.accueil .galerie figure{
    width: 32%;
    align-self: center;
}

.accueil .galerie img{
    width: 100%;
    height: 20rem;
    border-radius: 1.5rem;
}

.accueil .galerie .imgMargin{
    margin-top: 7rem;
}

.accueil .galerie .imgMargin2{
    margin-top: 1rem;
}









/* ----------- 9:= Footer ----------- */
footer{
    background-color: var(--beige);
    font-size: 2rem;
    padding: 5rem 0;
}

footer li, footer div{
    margin: 1rem 0;
}

footer li button{
    border: none;
    background-color: var(--beige);
    font-size: 2rem;
    cursor: none;
}

footer li a{
    color: black;
}

footer .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 98;
}

footer .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 60rem;
    min-width: 20rem;
    min-height: 60vh;
    max-height: 65vh;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 1rem;  
    border-bottom-left-radius: 1rem;
    z-index: 99;
    padding: 2rem;
    overflow-y: scroll;
    font-size: 1.3rem;
}

footer .popup h2{
    font-size: 3rem;
    margin-bottom: 4rem;
}

footer .popup h3{
    font-size: 2.5rem;
}

footer .popup p{
    font-size: 1.8rem;
}

footer .popup span{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

footer .popup button{
    font-size: 1.6rem;

    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: .5rem;  
    border-bottom-left-radius: .5rem;

    padding: 1rem 2rem;
    margin: 3rem 0 4rem 38%;

    position: fixed;
}

footer .popup.donnee p{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
  









/* ----------- 10:= Reservation ----------- */
.reservation .info img{
    width: 90%;
    height: 40rem;
    border-radius: 2rem;
}

.reservation h2{
    font-size: 5rem;
}

.reservation .info article{
    font-size: 1.8rem;
    padding-bottom: 10rem;
}

.reservation .info p:first-child{
    margin-bottom: 1rem;
}

.reservation .info .link{
    color: var(--noir);
    font-weight: bold;
}





/* ----------- 11:= Menu ----------- */
/* section3 : formule */
.menu .formules article{
    text-align: center;
    padding-bottom: 5rem;
}

.menu .formules span, .menu .formules p,
.boisson .champagne span, .boisson .champagne p,
.boisson .vin span, .boisson .vin p, .boisson .autre span, .boisson .autre p{
    font-size: 1.4rem;
    margin: .5rem 0;
}

.menu .formules h3, .menu .formules span, .boisson .champagne h4, .boisson .vin h4,  .boisson .autre h4{
    font-family: 'grotesque_mt', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2.5rem;
}










/* ----------- 12:= Vins ----------- */
.boisson .list{
    padding: 0 15rem;
    margin: 3rem 0;
}

.boisson .list .link{
    background-color: var(--beige);
    font-size: 2rem;
    color: var(--noir);
    padding: 1rem 2rem;
    border-radius: 2rem;
}

/* section2 : cartes champagnes */
.boisson .champagne h2, .boisson .vin h2, .boisson .autre h2{
    font-size: 6rem;
    margin-bottom: 0;
}

.boisson .champagne h2 + center span, .boisson .vin h2 + center span, .boisson .autre h2 + center span{
    font-size: 5rem;
}


.boisson .champagne div,
.boisson .vin{
    padding: 0 15rem;
}

.boisson .champagne section,
.boisson .vin div{
    width: 50%;
    text-align: center;
}

.boisson .champagne h3, .boisson .vin h3, .boisson .autre h3{
    font-size: 4rem;
    font-weight: lighter;
    color: var(--beige);
}

.boisson .champagne h4, .boisson .vin h4, .boisson .autre h4{
    font-size: 1.8rem;
    margin: 3rem 0 1rem;
}

.boisson .champagne span + article, .boisson .autre span + article, .boisson .autre span + article{
    margin-top: 4rem;
}


/* section3 : cartes des Vins */
.boisson .vin h3,  .boisson .autre h3{
    margin-top: 5rem;
}

/* section4 : autres breuvages */
.boisson .autre{
    text-align: center;
    padding-bottom: 5rem;
}






/* ----------- 13:= Mobile ----------- */
@media screen and (max-width: 576px) {
    .header ul{
        flex-direction: column!important;
        font-size: 1rem;
    }

    .slide img{
        width: 150%;
        margin-left: -25%;
        margin-top: 30%;
    }
    .slide h2{
        font-size: 5rem;
        top: 60%;
        left: 10%;
    }

    main .section1 img{
        width: 40rem;
        margin-left: -5%;
        margin-top: 5rem;
    }

    main .section1 article{
        position: absolute;
        top: 40%;
        left: 10%;
    }

    main .section1 h1{
        font-size: 5rem;
    }

    /* .accueil .description .gauche, .accueil .horaires article, 
    .accueil .paiement .droite, .accueil .aboutUs img,
    footer .gauche, .menu .concept .gauche{
        padding-left: 3rem;
    }

    .accueil .description .droite, .accueil .horaires img, 
    .accueil .paiement .gauche, .accueil .aboutUs article,
    footer .droite, .menu .concept .droite{
        padding-right: 3rem;
    } */

    .accueil h2, .menu h2{
        font-size: 3rem;
        margin-top: 5rem;
        margin-bottom: 4rem;
    }

    .accueil .description div,
    .accueil .horaires div{
        flex-direction: column;
    }

    .accueil .description article,.accueil .horaires article, 
    .accueil .horaires img, .accueil .aboutUs article,
    .accueil .aboutUs img{
        padding: 0 3rem!important;
    }


    .accueil .description article{
        width: 90%;
        font-size: 1.2rem;
    }

    .accueil .horaires h2{
        margin-top: 0;
        margin-bottom: 3rem;
    }

    .accueil .horaires article, .accueil .horaires img,
    .accueil .aboutUs article{
        width: 90%;
    }

    .accueil .horaires img{
        height: 20rem;
    }

    .accueil .horaires .joursOuv, .accueil .horaires p{
        padding-right: 0rem !important;
        font-size: 1.3rem;
        text-align: center;
    }

    .accueil .paiement div.icon{
        margin-top: 2rem;
        padding-right: 6rem;
        font-size: 1.4rem;
    }

    .accueil .paiement article{
        margin-bottom: 2rem;
    }

    .accueil .paiement div .icon{
        margin-left: 10% !important;
    }

    .accueil .paiement div{
        flex-wrap: wrap;
    }

    .accueil .paiement article{
        padding: 0!important;
        width: 30%;
    }

    .accueil .aboutUs div{
        flex-direction: column;
    }

    .accueil .aboutUs img{
        width: 90%;
    } 

    .accueil .aboutUs h2, .accueil .aboutUs p, .accueil .aboutUs span{
        margin-left: 1rem;
    }  
}