/* 
        Sommaire 

    1:= Les fonts
    2:= Constantes
    3:= Global css
    4:= Global classes
    5:= Header
    6:= Home
    7:= .section1
    8:= Accueil
    9:= Footer
    10:= Reservation
    11:= Menu
    12:= Vins
    13:= Restau
    14:= Version tablette
    15:= Version tablette and mobile
    16:= Version mobile

*/

/* notation : .main_classe .section_classe .element_classe */


/* ----------- 1:= Fonts ----------- */
@font-face {
    font-family: 'grotesque_mt';
    src: url('./assets/fonts/grotesque/grotesquemt-webfont.eot');
    src: url('./assets/fonts/grotesque/grotesquemt-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/grotesque/grotesquemt-webfont.woff2') format('woff2'),
         url('./assets/fonts/grotesque/grotesquemt-webfont.woff') format('woff'),
         url('./assets/fonts/grotesque/grotesquemt-webfont.svg#grotesque_mtregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'grand hotel';
    src: url('./assets/fonts/grandHotel/grandhotel-regular-webfont.eot'),
         url('./assets/fonts/grandHotel/grandhotel-regular-webfont.eot#efix') format('embedded-opentype'),
         url('./assets/fonts/grandHotel/grandhotel-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/grandHotel/grandhotel-regular-webfont.woff') format('woff'),
         url('./assets/fonts/grandHotel/grandhotel-regular-webfont.svg#grand_hotelregular')format('svg');
    font-weight: lighter;
    font-style: normal;
} */

@font-face {
    font-family: 'orangerie';
    src: url('./assets/fonts/orangerie/orangeriepersonaluseonlyregular-alaxl-webfont.eot');
    src: url('./assets/fonts/orangerie/orangeriepersonaluseonlyregular-alaxl-webfont.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/orangerie/orangeriepersonaluseonlyregular-alaxl-webfont.woff2') format('woff2'),
         url('./assets/fonts/orangerie/orangeriepersonaluseonlyregular-alaxl-webfont.woff') format('woff'),
         url('./assets/fonts/orangerie/orangeriepersonaluseonlyregular-alaxl-webfont.svg#orangerie_personal_use_onlyRg') format('svg');
    font-weight: normal;
    font-style: normal;

}











/* ----------- 2:= Constantes ----------- */
:root{
    --noir : #212121;
    --vert : #68756b;
    --bleu : #526774;
    --gris : #bfbdb1;
    --beige: #fae8da;
}


/* ----------- 3:= Global css ----------- */
*{
    margin: 0;
    padding: 0;
    font-family: 'grotesque_mt', sans-serif;
}

html, body{
    height: 100%;
}

main{
    color: white;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
}

h1, h2, h3, h4, .titre{
    font-family: 'orangerie', sans-serif;
    font-weight: lighter
    ;
    font-style: italic;
}

hr{
    width: 80%;
    margin: 5rem auto;
}

.accueil .description .gauche, .accueil .horaires article, 
.accueil .paiement .droite, .accueil .aboutUs img,
footer .gauche, .menu .concept .gauche{
    padding-left: 15rem;
}

.accueil .description .droite, .accueil .horaires img, 
.accueil .paiement .gauche, .accueil .aboutUs article,
footer .droite, .menu .concept .droite{
    padding-right: 15rem;
}






/* ----------- 4:= Global classes ----------- */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column{
    display: flex;
    flex-direction: column;
}

.w-100{
    width: 100%;
}

.h-100{
    min-height: 100vh;
}

.w-max-c{
    width: max-content;
}

.m-auto{
    margin: auto;
}

.link, a{
    text-decoration: none;
}

.back_noir{
    background-color: var(--noir);
}

.back_vert{
    background-color: var(--vert);
}

.back_bleu{
    background-color: var(--bleu);
}

.back_gris{
    background-color: var(--gris);
}

.justify-content-space-be{
    justify-content: space-between;
}

.underline{
    text-decoration: underline;
}











/* ----------- 5:= Header ----------- */
.header{
    position: fixed;
    border-bottom: .5px solid white;
    height: max-content;
    padding: 1.5rem 0;

    z-index: 100;
}

.header .link, .slide .link{
    color: white;
}

.header h3 .link{
    font-size: 3rem;
    margin-left: 2rem;
}

.header ul{
    align-items: center;
    font-size: 1.8rem;
    margin-right: 3%;
}

.header li .link{
    margin-left: 2rem;
}









/* ----------- 6:= Home ----------- */
.slide{
    max-height: 100vh;
}

.slide img{
    width: 80%;
    margin-top: 0rem;
}

.slide h2{
    position: absolute;
    color: white;
    top: 65%;
    left: 15%;
    font-size: 8rem;
}











/* ----------- 7:= .section1 ----------- */
main .section1{
    min-height: 100vh;
    max-height: max-content;
}
main .section1 img{
    width: 80%;
    margin-left: 25%;
    margin-top: -1rem;
}

main .section1 article{
    margin-left: 5%;
    margin-top: -23%;
}

main .section1 span{
    font-size: 1.5rem;
    margin-left: 2rem;
}

main .section1 h1{
    font-size: 10rem;
    margin-top: -3rem;
}








/* ----------- 8:= Accueil ----------- */
.accueil h2, .menu h2, .reservation h2, .boisson h2{
    font-size: 4rem;
    margin: 5rem auto 4rem;
}

/* section2 : description */
.accueil .description article, .menu .concept article{
    width: 50%;
    padding: 0 5rem;
    font-size: 1.5rem;
}

.accueil .description article p, .menu .concept article p{
    margin-bottom: 2rem;
    text-align: justify;
}


/* section3 : horaires */
.accueil .horaires h2{
    margin: 8rem auto 1rem;
    font-size: 3.5rem;
}

.accueil .horaires article, .accueil .horaires img,
.accueil .aboutUs article{
    width: 45%;
}


.accueil .horaires img{
    height: 40rem;
}

.accueil .horaires .joursOuv{
    padding-right: 6rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

.accueil .horaires p:first-child{
    font-weight: bold;
}


.accueil div.icon{
    margin-top: 9rem;
    font-size: 1.4rem;
    text-align: center;
    padding-right: 6rem;
}

.accueil div.icon .icon{
    margin-right: .5rem;
}

/* section4 et section6 : paiement */
.accueil .paiement .icon{
    font-size: 3rem;
    margin: auto;
    margin-bottom: 1rem;
}

/* section5 : aboutUs */
.accueil .aboutUs img{
    width: 36%;
}

.accueil .aboutUs h2{
    margin: 1rem 0;
    font-size: 3.5rem;
}

.accueil .aboutUs h2, .accueil .aboutUs p{
    margin-left: 5rem;
}

.accueil .aboutUs .span{
    width: 100%;
    padding-left: 5rem;
    font-size: 1.5rem;
}

.accueil .aboutUs p{
    margin-top: 3rem;
    text-align: justify;
    font-size: 1.5rem;
}

/* section6 : service et paiement */
.accueil .service .icon{
    font-size: 4rem;
    margin: auto;
    margin-bottom: 1rem;
}

.accueil .service .icon + span{
    font-size: 1.6rem;
    margin: auto;
    margin-bottom: 1rem;
}

/* section7 : galerie */
.accueil .galerie{
    padding: 0 15rem;
    padding-bottom: 10rem;
}

.accueil .galerie figure{
    width: 32%;
    align-self: center;
}

.accueil .galerie img{
    width: 100%;
    height: 20rem;
    border-radius: 1.5rem;
}

.accueil .galerie .imgMargin{
    margin-top: 7rem;
}

.accueil .galerie .imgMargin2{
    margin-top: 1rem;
}









/* ----------- 9:= Footer ----------- */
footer{
    background-color: var(--beige);
    font-size: 2rem;
    padding: 5rem 0;
}

footer li, footer div{
    margin: 1rem 0;
}

footer li button{
    border: none;
    background-color: var(--beige);
    font-size: 2rem;
    cursor: none;
}

footer li a{
    color: black;
}

footer .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 98;
}

footer .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 60rem;
    min-width: 10rem;
    min-height: 60vh;
    max-height: 65vh;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 5rem;
    border-top-right-radius: 1rem;  
    border-bottom-left-radius: 1rem;
    z-index: 99;
    padding: 2rem;
    overflow-y: scroll;
    font-size: 1.3rem;
}

footer .popup h2{
    font-size: 3rem;
    margin-bottom: 4rem;
}

footer .popup h3{
    font-size: 2.5rem;
}

footer .popup p{
    font-size: 1.8rem;
}

footer .popup span{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

footer .popup button{
    font-size: 1.6rem;

    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: .5rem;  
    border-bottom-left-radius: .5rem;

    padding: 1rem 2rem;
    margin: 3rem 0 4rem 38%;

    position: fixed;
}

footer .popup.donnee p{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
  









/* ----------- 10:= Reservation ----------- */
.reservation .info img{
    width: 90%;
    height: 40rem;
    border-radius: 2rem;
}

.reservation h2{
    font-size: 5rem;
}

.reservation .info article{
    font-size: 1.8rem;
    padding-bottom: 10rem;
}

.reservation .info .link{
    color: var(--noir);
    font-weight: bold;
}





/* ----------- 11:= Menu ----------- */
/* section3 : formule */
.menu .formules article{
    text-align: center;
    padding-bottom: 5rem;
}

.menu .formules span, .menu .formules p,
.boisson .champagne span, .boisson .champagne p,
.boisson .vin span, .boisson .vin p, .boisson .autre span, .boisson .autre p{
    font-size: 1.4rem;
    margin: .5rem 0;
}

.menu .formules h3, .menu .formules span, .boisson .champagne h4, .boisson .vin h4,  .boisson .autre h4{
    font-family: 'grotesque_mt', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2.5rem;
}










/* ----------- 12:= Vins ----------- */
.boisson .list{
    padding: 0 15rem;
    margin: 3rem 0;
}

.boisson .list .link{
    background-color: var(--beige);
    font-size: 2rem;
    color: var(--noir);
    padding: 1rem 2rem;
    border-radius: 2rem;
}

/* section2 : cartes champagnes */
.boisson .champagne, .boisson .vin, .boisson .autre{
    color: var(--noir);
}

.boisson .champagne h2, .boisson .vin h2, .boisson .autre h2{
    font-size: 6rem;
    margin-bottom: 0;
}

.boisson .vin h2{
    font-size: 4rem;
}

.boisson .champagne h2 + center span, .boisson .vin h2 + center span, .boisson .autre h2 + center span{
    font-size: 3rem;
    font-weight: lighter;
}


.boisson .champagne div,
.boisson .vin{
    padding: 0 15rem;
}

.boisson .champagne section,
.boisson .vin div{
    width: 50%;
    text-align: center;
}

.boisson .champagne h3, .boisson .vin h3, .boisson .autre h3{
    font-size: 4rem;
    font-weight: lighter;
    color: white;
}

.boisson .champagne h4, .boisson .vin h4, .boisson .autre h4{
    font-size: 1.8rem;
    margin: 3rem 0 1rem;
}

.boisson .champagne span + article, .boisson .autre span + article, .boisson .autre span + article{
    margin-top: 2rem;
}


/* section3 : cartes des Vins */
.boisson .vin h3,  .boisson .autre h3{
    margin-top: 5rem;
}

/* section4 : autres breuvages */
.boisson .autre{
    text-align: center;
    padding-bottom: 5rem;
}








/* ----------- 13:= Restau ----------- */
.autresRestau .section1 h1{
    font-size: 6rem;
}

.autresRestau .restau{
    padding: 0 15rem;
    flex-wrap: wrap;
    text-align: center;
}

.autresRestau .restau article{
    width: 20%;
    margin-bottom: 5rem;
}

.autresRestau .restau img{
    width: 90%;
    height: 10rem;
}

.autresRestau .restau h2{
    font-size: 1.5rem;
    font-family: 'grotesque_mt', sans-serif;
}

.autresRestau .restau p{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.autresRestau .restau a{
    color: var(--beige);
    font-weight: bold;
}










/* ----------- 14:= Tablette ----------- */
@media screen and (min-width : 576px) and (max-width: 768px){
    
}








/* ----------- 15:= Tablette and mobile ----------- */
@media screen and (max-width: 1620px) {
    .accueil .description .gauche, .accueil .horaires article, 
    .accueil .paiement .droite, .accueil .aboutUs img,
    footer .gauche, .menu .concept .gauche{
        padding-left: 8rem;
    }

    .accueil .description .droite, .accueil .horaires img, 
    .accueil .paiement .gauche, .accueil .aboutUs article,
    footer .droite, .menu .concept .droite{
        padding-right: 8rem;
    }

    .accueil .galerie, .boisson .list{
        padding: 0 8rem;
    }
}

@media screen and (max-width: 1400px) {
    .accueil .description .gauche, .accueil .horaires article, 
    .accueil .paiement .droite, .accueil .aboutUs img,
    footer .gauche, .menu .concept .gauche{
        padding-left: 4rem;
    }

    .accueil .description .droite, .accueil .horaires img, 
    .accueil .paiement .gauche, .accueil .aboutUs article,
    footer .droite, .menu .concept .droite{
        padding-right: 4rem;
    }

    .accueil .galerie,  .boisson .list{
        padding: 0 4rem;
        padding-bottom: 10rem;
    }
}

@media screen and (max-width: 1260px){
    .header ul{
        font-size: 1.5rem;
    }

    .slide img{
        width: 80%;
        margin-top: 3%;
    }

    .slide h2{
        font-size: 6rem;
        top: 68%;
        left: 10%;
    }

    main .section1 img{
        width: 80%;
        margin-left: 20%;
        margin-top: 3rem;
    }

    main .section1 article{
        top: 75%;
        left: 10%;
    }

    main .section1 span{
        font-size: 1.5rem;
        margin-left: 4%;
    }

    main .section1 h1{
        font-size: 8rem;
        margin-top: -1rem;
    }

    .accueil .description .gauche, .accueil .horaires article, 
    .accueil .paiement .droite, .accueil .aboutUs img,
    footer .gauche, .menu .concept .gauche, .autresRestau .restau{
        padding-left: 4rem;
    }

    .accueil .description .droite, .accueil .horaires img, 
    .accueil .paiement .gauche, .accueil .aboutUs article,
    footer .droite, .menu .concept .droite, .autresRestau .restau{
        padding-right: 4rem;
    }

    .accueil h2, .menu h2, .reservation h2, .boisson .champagne h2, 
    .boisson .vin h2, .boisson .autre h2{
        font-size: 3.5rem;
        text-align: center;
        width: inherit;
        margin-left: 0 !important;
    }

    .accueil .description article, .menu .concept article{
        padding: 0 3rem;
    }

    .accueil .horaires h2{
        margin-bottom: 3rem;
    }

    .accueil .horaires div{
        flex-direction: column;
    }

    .accueil .horaires article, .accueil .aboutUs article{
        width: 90%;
    }

    .accueil .horaires img{
        width: 80%;
        height: 20rem;
        padding-left: 10%;
        margin-top: 2rem;
    }

    .accueil .aboutUs div{
        flex-direction: column;
    }

    .accueil .aboutUs img{
        width: 85%;
        height: 25rem;
        padding-left: 4rem;
    } 

    .accueil .service div{
        text-align: center;
    }

    .accueil .service div article{
        width: 50%;
    }

    footer, footer li button{
        font-size: 1.5rem;
    }

    footer .droite{
        padding-right: 3rem;
    }

    .boisson hr{
        margin: 4rem auto 2rem;
    }

    .boisson .list,.boisson .champagne div,
    .boisson .vin{
        padding: 0 4rem;
    }

    .boisson .list .link{
        font-size: 1.5rem;
        padding: .5rem 1rem;
        border-radius: 2rem;
    }

    .boisson .champagne h2 + center span, .boisson .vin h2 + center span, .boisson .autre h2 + center span{
        font-size: 2.5rem;
    }

    .boisson .vin h2{
        font-size: 3rem;
        width: 100%;
    }

    .boisson .vin h2, .boisson .autre h2{
        margin: 2rem auto 0;
    }

    .boisson .champagne h3, .boisson .vin h3, .boisson .autre h3{
        font-size: 2.5rem;
        margin-top: 1rem;
    }
    
    .boisson .champagne h4, .boisson .vin h4, .boisson .autre h4{
        font-size: 1.3rem;
        margin: 1rem  0;
    }

    .boisson .champagne p{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1110px) {
    .header h3 .link{
        font-size: 2rem;
    }
    .header ul{
        font-size: 1.3rem;
    }
    main .section1 span{
        font-size: 1.1rem;
        margin-left: 2rem;
    }
    main .section1 h1{
        font-size: 6rem;
        margin-top: -3rem;
    }
}

@media screen and (max-width: 950px){
    .header h3 .link{
        font-size: 1.5rem;
    }

    .header ul{
        font-size: 1rem;
    }

    .slide img{
        width: 85%;
    }

    .accueil .horaires h2{
        margin: 0 auto 1rem;
    }

    .accueil div.icon{
        margin-top: 4rem;
    }

    .accueil .paiement div{
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    }

    .accueil .paiement article{
        padding: 0!important;
        margin-bottom: 2rem;
        width: 25%;
    }

    .accueil .paiement article span{
        text-align: center;
    }

    .accueil .galerie h2{
        margin-top: 0;
    }

    .accueil .galerie{
        padding: 0 4rem;
    }

    .accueil .galerie div{
        flex-direction: column;
        padding-bottom: 5rem;
    }

    .accueil .galerie figure{
        width: 80%;
        flex-direction: row;
    }

    .accueil .galerie figure:nth-child(2) img{
        width: 30%;
        margin-right: 5%;
        height: 10rem;
        margin-bottom: 1rem;
    }

    .accueil .galerie figure:nth-child(2) img:last-child{
        margin-right: 0;
    }

    .accueil .galerie img{
        width: 45%;
        height: 10rem;
        border-radius: 1.5rem;
    }

    .accueil .galerie .imgMargin{
        margin-left: 10%;
        margin-top: 0;
    }

}

@media screen and (max-width: 855px){
    .boisson .list .link{
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 768px){
    .header ul{
        flex-direction: column!important;
        font-size: 1rem;
    }

    .header h3 .link{
        font-size: 3rem;
    }

    .slide img{
        width: 100%;
        margin-left: 10%;
        margin-top: 13%;
    }

    .slide h2{
        font-size: 4rem;
    }

    main .section1 img{
        width: 100%;
        margin-left: 20%;
        margin-top: 3rem;
    }

    .reservation .info article p{
        width: 100%;
        text-align: center;
        padding-bottom: 3rem;
    }

    .boisson .list{
        flex-wrap: wrap;
    }

    .boisson .list li{
        width: 50%;
        margin-bottom: 2.5rem;
    }

    .boisson .list .link{
        font-size: 1rem;
        padding: 1rem;
        border-radius: 2rem;
    }

    .autresRestau .restau article{
        width: 30%;
        margin-bottom: 3rem;
    }
}









/* ----------- 16:= Mobile ----------- */
@media screen and (max-width: 576px) {
    .slide img{
        width: 140%;
        margin-left: -20%;
        margin-top: 15%;
    }

    main .section1 img{
        width: 140%;
        margin-left: -20%;
        margin-top: 20% !important;
    }

    main .section1 h1{
        font-size: 4rem!important;
        line-height: 4rem;
        margin-top: -1rem;
    }

    .accueil h2, .menu h2, .reservation h2, .boisson .champagne h2, 
    .boisson .vin h2, .boisson .autre h2{
        font-size: 2.5rem !important;
    }

    .accueil .description div{
        flex-direction: column;
    }

    .accueil h2, .menu h2,.reservation h2,
    .accueil .description article, .accueil .description .gauche, .accueil .description .droite, .accueil .horaires article, 
    .accueil .horaires img, .accueil .aboutUs article,
    .accueil .aboutUs img, .accueil .paiement div,
    .accueil .aboutUs h2, .accueil .aboutUs p, .accueil .aboutUs span,
    footer .gauche, footer .droite, .reservation .info article,
    .menu .concept article p, .boisson .list, .boisson .champagne div,
    .boisson .vin{
        padding: 0 5%;
    }


    .accueil .description article{
        width: 90%;
        font-size: 1rem;
    }

    .accueil .horaires article, .accueil .horaires img,
    .accueil .aboutUs article{
        width: 90%;
    }

    .accueil .horaires div, .accueil .horaires .joursOuv{
        padding-right: 0;
    }

    .accueil .horaires img{
        padding-left: 5%;
    }

    .accueil .paiement div.icon{
        margin-top: 2rem;
        font-size: 1rem;
    }

    .accueil .paiement article{
        width: 30%;
    }

    .accueil .aboutUs img{
        padding-left: 5%;
    } 

    .accueil .aboutUs p, .accueil .aboutUs span{
        margin-left: 0;
        font-size: 1rem;
    }

    .accueil .aboutUs .span{
        padding-left: 0;
    }

    .accueil .service div{
        text-align: center;
        padding-right: 0;
    }

    .accueil .service div article{
        width: 50%;
    }

    .accueil .service .icon{
        font-size: 2rem;
        margin-bottom: .5rem;
    }
    
    .accueil .service .icon + span{
        font-size: 1rem;
        margin-bottom: .5rem;
    }

    .accueil .galerie{
        padding: 0;
    }

    .accueil .galerie figure{
        width: 90%;
    }

    .accueil .galerie figure:nth-child(2) img{
        width: 30%;
        height: 7rem;
    }

    footer{
        flex-direction: column!important;
    }

    footer, footer li button{
        font-size: 1rem;
    }

    .reservation .section1 h1{
        font-size: 3rem;
    }

    .reservation .info img{
        width: 90%;
        height: 20rem;
        border-radius: 2rem;
    }

    .reservation .info article{
        font-size: 1rem;
    }

    .menu .concept div{
        flex-direction: column;
    }

    .menu .concept .gauche, .menu .concept .droite{
        padding: 0;
        width: 100%;
        font-size: 1rem;
    }

    .menu .formules span, .menu .formules p,
    .boisson .champagne span, .boisson .champagne p,
    .boisson .vin span, .boisson .vin p, .boisson .autre span, .boisson .autre p{
        font-size: 1rem;
    }

    .menu .formules h3, .menu .formules span, .boisson .champagne h4, .boisson .vin h4,  .boisson .autre h4{
        font-size: 1.5rem;
    }

    .boisson hr{
        margin-bottom: 0rem;
    }

    .boisson .champagne h2 + center span, .boisson .vin h2 + center span, 
    .boisson .autre h2 + center span{
        font-size: 2rem;
    }

    .boisson .champagne div, .boisson .vin{
        flex-direction: column;
    }

    .boisson .champagne section, .boisson .vin div{
        width: 100%;
    }

    .boisson .champagne h3, .boisson .vin h3, .boisson .autre h3{
        font-size: 2rem;
    }

    .boisson .champagne h4, .boisson .vin h4, .boisson .autre h4{
        font-size: 1.3rem;
        margin: 1rem 0;
    }

    .boisson .champagne span + article, .boisson .autre span + article, .boisson .autre span + article{
        margin-top: 2rem;
    }

    .boisson .vin h3,  .boisson .autre h3{
        margin-top: 1rem;
    }

    .autresRestau .restau article{
        width: 50%;
    }

    .autresRestau .restau img{
        width: 90%;
        height: 7rem;
    }
 
}